/* styles.css */
.play-button {
    background-color: transparent;
    border: 5px solid white;
    cursor: pointer;
    border-radius: 100%;
    font-size: 80px;
    color: #ffffff;
    position: absolute;
    /* bottom: 150px; */
    left: 50%;
    width: 30%;
    transform: translateX(-50%);
    padding: 10px;
    outline: none;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .play-button:focus {
    outline: none;
  }


.video-player:hover .play-button {
  opacity: 1;
}
  
  .video-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: black;
    border-bottom-left-radius: 62px; 
    border-bottom-right-radius: 62px;
  }
 
  .video-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: black;
    border-top-left-radius: 62px; 
    border-top-right-radius: 62px;
  }
  
  .video-player {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px; 
    height: 500px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.logo-2 {
  height: 50%;
  width: 100%;
}

.logo-3 {
  width: 70%;
}